.container {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: scroll;
  background-color: var(--gray-2);
}

.noRightBorder {
  border-right-color: transparent!important;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  color: var(--brown-9);
}

.container .break {
  margin-left: 4.5rem;
}

.container li {
  border-right: 1px solid #bbb;
}

.container li:last-child {
  border-right: none;
}

.container li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: var(--brown-4);
  transition: all 0.25s ease-in;
}

.container li a:hover {
  background-color: var(--brown-6);
  color: var(--gray-2);
}

.container .active {
  background-color: var(--brown-4);
}

.container .active a {
  color: var(--gray-1);
}

.flex {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.icon {
  width: 3rem;
}

@media screen and (max-width: 760px) {
  .container {
    overflow-x: scroll;
    width: 760px;
  }
}