.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 0.5rem;
}

.main form {
  display: flex;
  flex-direction: column;
  width: var(--content-max-width);
}

.main,
.main input {
  font-size: 1rem;
  line-height: var(--size-5);
  color: #353740;
}

.main .icon {
  width: 6rem;
}
.main h3 {
  font-size: 2rem;
  font-weight: bold;
  color: #202123;
  margin: 1rem 0 2rem;
}

.main input[type="text"] {
  padding: 0.75rem 1rem;
  border: 1px solid var(--brown-6);
  border-radius: 4px;
  margin-bottom: 0.5rem;
  outline-color: var(--brown-8);
  width: var(--content-max-width);
}

.main ::placeholder {
  color: var(--stone-5);
  opacity: 1;
}
.main input[type="submit"] {
  padding: 0.75rem 0;
  color: var(--gray-0);
  background-color: var(--brown-8);
  border: none;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  width: var(--button-width);
  margin-left: calc(calc(var(--content-max-width) - var(--button-width))/2);
  margin-bottom: 2rem;
}

.main input[type="submit"]:disabled {
  color: var(--gray-3);
  background-color: var(--stone-5);
  cursor: not-allowed;
}

.main .loading {
  padding: 0.5rem;
  max-width: var(--content-max-width);
  width: 5rem;
  height: 5rem;
}
.main .loading:after {
  content: " ";
  display: block;
  width: 4rem;
  height: 4rem;
  margin: 0.5rem;
  border-radius: 50%;
  border: 6px solid var(--brown-5);
  border-color: var(--brown-5) transparent var(--brown-5) transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}