.container {
    display: flex;
    align-items: center;
}

.tableHeader {
    display: flex;
    gap: 0.5rem;
    width: 100vw;
    padding: 0.2rem 0;
}

.tableHeader input {
    border: 1px solid var(--stone-4);
    margin-left: 5px;
}

.break {
    margin: auto;
}

@media screen and (max-width: 760px) {
    .tableHeader {
        overflow-x: scroll;
        width: 760px;
    }
}